/*button {
  font-family: inherit;
  background-color: #2b2b2b;;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
  transition-property: opacity;

}*/

/*button {
  font-family: inherit;
  background-color: #2b2b2b;;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
  transition-property: opacity;

}*/

h1 {
  font-size: 30px;
  font-weight: 700;
}

ul {
  list-style-type: none;
}

.button-class {
  width: 100%;
  border: none;
  list-style-type: none;
  font-family: inherit;
  line-height: normal;
  background-color: #FFA400;
  color: #2A2A72;
  font-size: 16px;
  text-align: left;
  display: inline-block;
  text-decoration: none;
  margin: 4px 2px;
  padding: 16px 32px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.4s;
  cursor: pointer;
}
